<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Render content</title>
    <link rel="stylesheet" href="style.css"></script>
    <script type="module" src="./dist/app.js"></script>
  </head>
  <body>
    <h1>Football Legends</h1>
    <div class="legend-list"></div>
    <template id="legend-template">
      <li>
        <div class="card">
          <div class="card-content">
            <div class="name"></div>
            <div class="nationality"></div>
            <div class="position"></div>
          </div>
        </div>
      </li>
    </template>
  </body>
</html>
